/* Makes border-box properties */

/* Global Settings */
/* --------------- */
:root {
  // settings
  --gutter: 0.5rem;
  --columns: 2;
}


* {
  // span/width do not inherit
  --span: initial;

  // only applied when `span` is defined and valid
  --width: calc(var(--span) / var(--columns) * 100%);
  box-sizing: border-box;
}


$susy: (
  'columns': susy-repeat(10),
  'gutters': 0,
  'spread': 'narrow',
  // 'svg-grid-colors': hsl(180, 50%, 80%),
  'container-spread': 'narrow',
  'column-width': 600px,
);


// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

body{
  position: relative;
}


header, section {
  @include clearfix;
}

.main-wrap{
  max-width: $max_container_width;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 24px;
}

%container {
    // background: susy-svg-grid() no-repeat scroll;
    overflow: hidden;
}

.sticky-nav{
  -webkit-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.07);
  -moz-box-shadow: 0 2px 10px -2px rgba(0,0,0,0.07);
  box-shadow: 0 2px 10px -2px rgba(0,0,0,0.07);
  position: fixed;
  width: 100%;
  z-index: 100009;
  background-color: $color_white;
  top:-100px;
	z-index:9999;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  -ms-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  -o-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  &.show{
    top:0;
    opacity: 1;
  }
  .nav-wrap{
    max-width: $max_container_width;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    overflow: visible; //solve dropdown click
    padding: 16px 24px;
    .nav-logo{
      width: span(3);
      text-align: left;
      img{
        height: 44px;
      }
    }
    .nav-btn{
      width: span(7);
      text-align: right;
      .nav-menu{
        >li{
          display: inline-block;
          &.nav-dwn-btns{
            position: relative;
            display: inline-block;
            vertical-align: top;
            max-width: 350px;
            margin-left: 12px;
            // margin: 12px;
            .dwn-list{
              z-index: 8;
              top: 0;
              left: 0;
              margin: 0;
              height: auto;
              position: absolute;
              background: $color_white;
              -webkit-box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
              -moz-box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
              box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
              border-radius: 8px;
              width: 100%;
              overflow: hidden;
              opacity: 0;
              height: 0;
              -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
              -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
              -ms-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
              -o-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
              transition: all 250ms cubic-bezier(.02, .01, .47, 1);
              padding: 8px 0;
              &>li{
                a{
                  font-size: 15px;
                  display: block;
                  margin: 0 12px;
                  padding: 16px 0;
                  text-decoration: none;
                  vertical-align: middle;
                  text-align: left;
                  border-bottom: 1px solid #EFF2FC;
                  .title{
                    display: inline-block;
                    float: left;
                    color: $color_dark_blue;
                    width: 55%;
                    &.title-xd{
                      line-height: 22px;
                    }
                  }
                  .price{
                    display: inline-block;
                    float: right;
                    text-align: right;
                    font-size: 16px;
                    color: $color_blue;
                    font-weight: 500;
                    line-height: 18px;
                    width: 42%;
                    &.price-soon{
                      color: #9999A1;
                      padding-left: 10px;
                      font-weight: 400;
                    }
                  }
                  &:after {
                    content: "";
                    display: table;
                    clear: both;
                  }
                  &:hover{
                    opacity: .7;
                  }
                }
                &:last-child{
                  a{
                    border: none;
                  }
                }
              }
            }

            &:hover{
              .dwn-list{
                overflow: visible;
                opacity: 1;
                top: calc(100%);
                height: auto;
              }
             .btn__list{
                -webkit-box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
                -moz-box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
                box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
                border: 1px solid $color_white;

              }
              .arrow{
                img{
                  -moz-transform: scale(-1, -1);
                  -o-transform: scale(-1, -1);
                  -webkit-transform: scale(-1, -1);
                  transform: scale(-1, -1);
                }
              }
            }
          }

          a{
            margin-left: 12px;
          }
          .btn{
            padding: 16px 20px;
            font-weight: 500;
            font-size: 15px;
          }
          .btn__nav__scl{
            color: $primary_grey;
            img{
              opacity: .6;
              margin-right: 8px;
              vertical-align: middle;
            }
            &:hover{
              background-color: lighten($primary_grey, 64%);
            }
          }
          .btn__nav__dwn{
            background-color: $color_blue;
            border: 1px solid transparent;
            color: $color_white;
            img{
              height: 16px;
              vertical-align: middle;
              margin-right: 8px;
            }
            &:hover{
              background-color: darken($color_blue, 4%);
            }
          }
          .btn__nav__lst{
            background-color: $color_white;
            border: 1px solid $color_blue!important;
            color: $color_blue;
            cursor: pointer;
            img{
              width: 16px;
              vertical-align: middle;
            }

            &:focus{
              outline: 0;
            }
          }
        }
      }
    }
    @media (max-width: $desktop){
      padding: 12px;
      .nav-logo{
        width: span(10);
        text-align: center;
      }
      .nav-btn{
        text-align: center;
        width: span(10);
        padding-top: 18px;
        .nav-menu{
          .btn.btn__nav__lst,.btn__nav__dwn{
            font-size: 14px!important;
          }
        }
        .btn__nav__scl{
          display: none;

        }
      }
    }
  }

}

.hero{
  @extend %container;
  padding: 16px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  overflow: visible; //solve dropdown click
  .hero__logo{
    width: span(10);
    img{
      display: inline-block;
      height: 80px;
    }

  }

  .hero__details{
    width: span(10);
    h1{
      color: $primary_dark;
      font-weight: 600;
      display: block;
      line-height: normal;
      padding: 18px 0 8px 0;
    }
    .more-info{
      font-weight: 300;
      color: $primary_grey;
      font-size: 18px;
      max-width: 540px;
      margin: 0 auto;
      line-height: 32px;
    }
  }
  .hero__btns{
    display: block;
    width: span(10);
    margin: 24px 0;
    a{
      text-align: left;
      display: inline-block;
    }
    .dwn-btns{
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 12px;
      z-index: 8;
      .dwn-list{
        z-index: 9;
        top: 0;
        left: 0;
        margin: 0;
        height: auto;
        position: absolute;
        background: $color_white;
        -webkit-box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
        box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
        border-radius: 8px;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        height: 0;
        -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -ms-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -o-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        padding: 8px 0;
        &>li{
          a{
            font-size: 16px;
            display: block;
            margin: 0 22px;
            padding: 18px 0;
            text-decoration: none;
            vertical-align: middle;
            border-bottom: 1px solid #EFF2FC;
            .title{
              display: inline-block;
              float: left;
              color: $color_dark_blue;
              width: 55%;
              &.title-xd{
                line-height: 22px;
              }
            }
            .price{
              display: inline-block;
              float: right;
              text-align: right;
              font-size: 16px;
              color: $color_blue;
              font-weight: 500;
              line-height: 18px;
              width: 42%;
              &.price-soon{
                color: #9999A1;
                padding-left: 10px;
                font-weight: 400;
              }
            }
            &:after {
              content: "";
              display: table;
              clear: both;
            }
            &:hover{
              opacity: .7;
            }
          }
          &:last-child{
            a{
              border: none;
            }
          }
        }
      }

      &:hover{
        .dwn-list{
          overflow: visible;
          opacity: 1;
          top: calc(100%);
          height: auto;
        }
       .btn__list{
          -webkit-box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
          -moz-box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
          box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
          border: 1px solid $color_white;
        }
        .arrow{
          img{
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            transform: scale(-1, -1);
          }
        }
      }
    }
  }
  @media (max-width: $desktop){
    padding-top: 64px;
    .hero__logo{
      img{
        width: 90%;
      }
    }
    .hero__details{
      h1{
        font-size: 1.5em;
      }
      .more-info{
        font-size: 16px;
      }
    }
  }
}

// Hero end


// Log Start
.logo-wrap{
  @extend %container;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  .toggle{
    width: span(10);
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #EFF2FC;
    a{
      text-decoration: none;
      font-size: 24px;
      margin: 0 24px;
      padding: 12px 0;
      display: inline-block;
      color: lighten($primary_grey, 40%);
      font-weight: 300;
      border-bottom: 1px solid transparent;

      &.active{
        color: $color_dark_blue;
        position: relative;
        border-bottom: 3px solid $color_blue;
      }
    }
  }
  .logo{
    width: span(2);
    border-radius: 16px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    // border: 1px solid $color_blue; //remove later
    .img-wrap{
      padding: 52px;
      img{
        display: block;
        width: 100%;
      }
    }
    &.logotype{
      .img-wrap{
        padding: 36px;
      }
    }

    &:hover{
      background: #F8FAFF;
    }
  }
  // Add media query


  @media (max-width: $desktop){
    padding: 0;
    .toggle{
      a{
        font-size: 18px;
      }
    }
    .logo{
      width: span(5);
      .img-wrap{
        padding: 54px;
        img{
          display: block;
          width: 100%;
        }
      }
      &.logotype{
        .img-wrap{
          padding: 18px!important;
        }
      }
    }
  }

}
// End Logo section

// Start patron
.patron{
  @extend %container;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  margin-top: 64px;
  .friend{
    width: span(10);
    border-radius: 12px;
    margin: 0 auto;
    -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -ms-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    -o-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    &.uxstore{
      background: #F8FAFF;
      border: 1px solid transparent;
      max-width: 800px;
      .here-you-go{
        padding: 24px;
        display: block;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        .img{
          vertical-align: middle;
          width: 120px;
          img{
            width: 96px;
            height: 96px;
          }
        }
        .info{
          vertical-align: middle;
          width: span(8);
          padding-top: 6px;
          h2{
            font-size: 24px;
            font-weight: 500;
            color: $color_dark_blue;
            line-height: 36px;
          }
          p{
            color: $primary_grey;
            font-size: 17px;
            span{
              color: $color_blue;
              letter-spacing: 2px;
              font-weight: 600;
              display: inline-block;
              border-bottom: .5px dotted $color_dark_blue;
            }
          }
        }
      }
      &:hover{
        .info{
          h2{
            color: lighten($color_dark_blue, 10%);
          }
          p{
            color: darken($primary_grey, 15%);
          }
        }

      }
      &:hover{
        background: $color_white;
        -webkit-box-shadow: 0 4px 18px -2px rgba(0,0,0,0.07);
        -moz-box-shadow: 0 4 px 18px -2px rgba(0,0,0,0.07);
        box-shadow: 0 4px 18px -2px rgba(0,0,0,0.07);
      }
    }
  }
  @media (max-width: $desktop){
    .friend{
      &.uxstore{
        .here-you-go{
          display: block;
          .img{
            display: block;
          }
          .info{
            display: block;
            width: span(10);
            padding: 0;
            margin-top: 24px;
          }
        }
      }
    }
  }
}
// End patron

// Start Footer section
footer{
  @extend %container;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  border-top: 1px dotted #EFF2FC;
  margin-top: 80px;
  .menu{
    text-align: left;
    width: span(5);
    ul{
      vertical-align: middle;
      >li{
        display: inline-block;
        a{
          line-height: 32px;
          text-decoration: none;
          color: $primary_grey;
          display: block;
          margin-right:18px;
          &:hover{
            color: $color_blue;
          }
        }
        &:last-child{
          a{
            margin-right: 0;
          }
        }
      }
    }
  }
  .credit{
    width: span(5);
    text-align: right;
    h4{
      color: #808080;
      line-height: 32px;
      img{
        width: 24px;
        vertical-align: middle;
      }
      a{
        color: $color_blue;
        text-decoration: none;
        &:hover{
          color: darken($color_blue, 20%);
        }
      }
    }
  }

  @media (max-width: $desktop){
    .menu{
      width: span(10);
      text-align: center;
    }
    .credit{
      width: span(10);
      text-align: center;
      margin-top: 32px;
      padding-bottom: 100px;
      h4{
        font-size: 12px;
      }


    }
  }


}
