/* Makes border-box properties */

/* Global Settings */
/* --------------- */
:root {
  // settings
  --gutter: 0.5rem;
  --columns: 2;
}


* {
  // span/width do not inherit
  --span: initial;

  // only applied when `span` is defined and valid
  --width: calc(var(--span) / var(--columns) * 100%);
  box-sizing: border-box;
}


$susy: (
  'columns': susy-repeat(10),
  'gutters': 0,
  'spread': 'narrow',
  // 'svg-grid-colors': hsl(180, 50%, 80%),
  'container-spread': 'narrow',
  'column-width': 600px,
);


// Breakpoints
$mobile-landscape: 30rem; // 480px
$tablet: 40rem; // 640px
$tablet-wide: 48rem; // 768px
$desktop: 64rem; // 1024px
$widescreen: 71.25rem; // 1140px

body{

}


header, section {
  @include clearfix;
}

.main-wrap{
  max-width: $max_container_width;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 36px;
}

%container {
    // background: susy-svg-grid() no-repeat scroll;
    overflow: hidden;
}

.hero{
  @extend %container;
  padding: 16px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  overflow: visible; //solve dropdown click
  .hero__logo{
    width: span(10);
    img{
      display: inline-block;
      height: 80px;
    }
  }

  .hero__details{
    width: span(10);
    h1{
      color: $primary_dark;
      font-weight: 600;
      display: block;
      line-height: normal;
      padding: 18px 0 8px 0;
    }
    .more-info{
      font-weight: 300;
      color: $primary_grey;
      font-size: 18px;
      max-width: 540px;
      margin: 0 auto;
      line-height: 32px;
    }
  }
  .hero__btns{
    display: block;
    width: span(10);
    margin: 24px 0;
    a{
      text-align: left;
      display: inline-block;
    }
    .dwn-btns{
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 12px;
      z-index: 8;
      .dwn-list{
        z-index: 9;
        top: 0;
        left: 0;
        margin: 0;
        height: auto;
        position: absolute;
        background: $color_white;
        -webkit-box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
        box-shadow: 0 12px 44px -2px rgba(0,0,0,0.1);
        border-radius: 8px;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        height: 0;
        -webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -ms-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        -o-transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        transition: all 250ms cubic-bezier(.02, .01, .47, 1);
        padding: 8px 0;
        &>li{
          a{
            font-size: 16px;
            display: block;
            margin: 0 22px;
            padding: 18px 0;
            text-decoration: none;
            vertical-align: middle;
            border-bottom: 1px solid #EFF2FC;
            .title{
              display: inline-block;
              float: left;
              color: $color_dark_blue;
              width: 55%;
              &.title-xd{
                line-height: 22px;
              }
            }
            .price{
              display: inline-block;
              float: right;
              text-align: right;
              font-size: 16px;
              color: $color_blue;
              font-weight: 500;
              line-height: 18px;
              width: 42%;
              &.price-soon{
                color: #9999A1;
                padding-left: 10px;
                font-weight: 400;
              }
            }
            &:after {
              content: "";
              display: table;
              clear: both;
            }
            &:hover{
              opacity: .7;
            }
          }
          &:last-child{
            a{
              border: none;
            }
          }
        }
      }

      &:hover{
        .dwn-list{
          overflow: visible;
          opacity: 1;
          top: calc(100%);
          height: auto;
        }
        .btn__list{
          -webkit-box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
          -moz-box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
          box-shadow: 0 2px 44px -4px rgba(0,0,0,0.1);
          border: 1px solid transparent;
        }
        .arrow{
          img{
            -moz-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            transform: scale(-1, -1);
          }
        }
      }
    }
  }
}

// Hero end

// Log Start
.logo-wrap{
  @extend %container;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  .toggle{
    width: span(10);
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 1px dotted #EFF2FC;
    a{
      text-decoration: none;
      font-size: 24px;
      padding: 20px 12px;
      margin: 0 16px;
      display: inline-block;
      color: $primary_grey;
      font-weight: 300;
      &.active{
        color: $color_dark_blue;
        border-bottom: 2px solid $color_blue;
      }
    }
  }
  .logo{
    width: span(2);
    border-radius: 8px;
    // border: 1px solid $color_blue; //remove later
    .img-wrap{
      padding: 52px;
      img{
        display: block;
        width: 100%;
      }
    }
    &:hover{
      background: #F8FAFF;
    }
  }
}
// End Logo section

// Start Footer section
footer{
  @extend %container;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  border-top: 1px dotted #EFF2FC;
  margin-top: 80px;
  .menu{
    text-align: left;
    width: span(5);
    ul{
      vertical-align: middle;
      >li{
        display: inline-block;
        a{
          line-height: 32px;
          text-decoration: none;
          color: $primary_grey;
          display: block;
          margin-right:18px;
        }
      }
    }
  }
  .credit{
    width: span(5);
    text-align: right;
    h4{
      color: $primary_grey;
      line-height: 32px;
      img{
        width: 32px;
        vertical-align: middle;
      }
      a{
        color: $color_blue;
        text-decoration: none;
      }
    }
  }
}
