// Colors
$primary_bg                  : #ffffff;
$primary_dark                : #2F3039;
$primary_grey                : #4B4B5B;
$color_dark_blue             : #07157C;
$color_blue                  : #2562EA;
$color_white                 : #ffffff;
$color_black                 : #000000;
$font_poppins                : 'Poppins', sans-serif;

// sizes
$max_container_width         : 75.0rem;
